//
   Created by Mia on 2015-05-04.

extends layout

block extraHeader
   link(rel='stylesheet', href='/stylesheets/karapax_listing.css')

block content
   section#listing-header(style='background-image: url(../images/#{imgPath[0]});')
      .container
         .row
            .col-md-8.col-md-offset-2.text-center
               a#gallery-btn.btn.btn-default(href='#',data-toggle='modal', data-target='#apt-modal') 查看全部图片

   #apt-modal.modal.fade(role='dialog')
      .modal-dialog
         #apt-slides.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
               li.active(data-target='#apt-slides', data-slide-to='0')
               li(data-target='#apt-slides', data-slide-to='1')
               li(data-target='#apt-slides', data-slide-to='2')
               li(data-target='#apt-slides', data-slide-to='3')
               li(data-target='#apt-slides', data-slide-to='4')
            .carousel-inner(role='listbox')
               .item.active
                  img.img-responsive(src='images/#{imgPath[0]}',alt='')
                  .carousel-caption
                     h3
               .item
                  img.img-responsive(src='images/#{imgPath[1]}', alt='')
                  .carousel-caption
                     h3
                     p
               .item
                  img.img-responsive(src='images/#{imgPath[2]}', alt='')
                  .carousel-caption
                     h3
                     p
               .item
                  img.img-responsive(src='images/#{imgPath[3]}', alt='')
                  .carousel-caption
                     h3
                     p
               .item
                  img.img-responsive(src='images/#{imgPath[4]}', alt='')
                  .carousel-caption
                     h3
                     p
             a.left.carousel-control(href='#apt-slides', role='button', data-slide='prev')
               span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
               span.sr-only Previous
             a.right.carousel-control(href='#apt-slides', role='button', data-slide='next')
               span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
               span.sr-only Next

   section#apt-info
      .container
         .row
            //full screen if screen size less than 768px, otherwise 75%
            .col-sm-12.col-mylg-9
               .row.row-space-4
                  //host img
                  .col-sm-3
                     img#user-img.img-circle.img-responsive.text-center-sm.row-space-4(src='/images/karapax_logo.png', alt='Karapax')
                  //core info
                  .col-sm-9
                     .row.row-space-4
                        .col-sm-12.text-center
                           span.h4 #{address}
                           span.inline-space-3.font-gray #{city}, #{province}, #{country}
                           span.inline-space-3.font-gray #{zipcode}
                     .row.text-center
                        .col-xs-4
                           img.apt-icon(src='images/bedroom.png', alt='')
                           p.font-gray #{bedrooms}卧室
                        .col-xs-4
                           img.apt-icon(src='images/bathroom.png', alt='')
                           p.font-gray #{bathrooms}浴室
                        .col-xs-4
                           i.fa.fa-check.fa-5x.text-success
                           p.font-gray #{avaDate.getMonth()+1}月 #{avaDate.getDate()}日 可租
               //description of the apt
               .row
                  hr.row-space-4
                  .col-sm-2
                     p.h5.font-gray 关于这个家
                  .col-sm-10
                     p.h5 #{description}
               //detail info
               .row
                  hr.row-space-4
                  .col-sm-2
                     p.font-gray 房屋信息
                  .col-sm-10
                     .row.row-space-1
                        .col-sm-4
                           p 区域 : #{area}
                        .col-sm-4
                           p 类型 : #{type}
                        if size!=0
                           .col-sm-4
                              p 大小 : #{size} m
                                 sup 2
                     .row.row-space-1
                        .col-sm-4
                           p 卧室 : #{bedrooms}
                        .col-sm-4
                           p 浴室 : #{bathrooms}
                        .col-sm-4
                           p 押金 : $ #{deposit} CAD
                     .row.row-space-1
                        .col-sm-4
                           p 起租日期 : #{avaDate.getMonth()+1}月#{avaDate.getDate()}日
               //Around the apt
               .row
                  hr.row-space-4
                  .col-sm-2
                     p.font-gray 周边
                  .col-sm-10
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-university.fa-2x
                           span #{around.school}
                        .col-sm-4
                           i.fa.fa-bus.fa-2x
                           span #{around.bus}
                        .col-sm-4
                           i.fa.fa-subway.fa-2x
                           span #{around.metro}
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-shopping-cart.fa-2x
                           span #{around.market}
                        .col-sm-4
                           i.fa.fa-dollar.fa-2x
                           span #{around.bank}
                        .col-sm-4
                           i.fa.fa-coffee.fa-2x
                           span #{around.restaurant}
                     .row.row-space-1
                        .col-sm-4
                           p 娱乐 : #{around.entertainment}
                     .row.row-space-1
                        .col-sm-12
                           p 其他 : #{around.others}
               .row
                  hr
                  .col-sm-2
                     p.font-gray 内部设施
                  .col-sm-10
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-cutlery.fa-2x
                           span #{amenities.kitchen}
                        .col-sm-4
                           i.fa.fa-wifi.fa-2x
                           sapn #{amenities.net}
                        .col-sm-4
                           i.fa.fa-arrow-up.fa-2x
                           span #{amenities.elevator}
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-home.fa-2x
                           span #{amenities.indoor}
                        .col-sm-4
                           i.fa.fa-futbol-o.fa-2x
                           span #{amenities.entertainment}
                        .col-sm-4
                           i.fa.fa-car.fa-2x
                           span #{amenities.parking}
                     .row.row-space-1
                        .col-sm-12
                           p 其他 : #{amenities.others}
               .row
                  hr.row-space-4
                  .col-sm-2
                     p.font-gray 家具
                  .col-sm-10
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-plug.fa-2x
                           span #{furniture.electrical}
                        .col-sm-4
                           i.fa.fa-lightbulb-o.fa-2x
                           span #{furniture.light}
                        .col-sm-4
                           img(src='images/table.png').fa.apt-icon-small
                           span #{furniture.table}
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-bed.fa-2x
                           span #{furniture.bed}
                     .row.row-space-1
                        .col-sm-12
                           p 其他 : #{furniture.others}
               .row
                  hr.row-space-4
                  .col-sm-2
                     p.font-gray 要求
                  .col-sm-10
                     .row.row-space-1
                        .col-sm-4
                           i.fa.fa-paw.fa-2x
                           if requirements.pet
                              i.fa.fa-check.text-success.fa-2x
                           else
                              i.fa.fa-close.text-danger.fa-2x
                        .col-sm-4
                           img.apt-icon-small(src='images/smoke.png', alt='')
                           if requirements.smoke
                              i.fa.fa-check.text-success.fa-2x
                           else
                              i.fa.fa-close.text-danger.fa-2x
               .row.row-space-4
            .col-mylg-3.hidden-sm.hidden-xs
               section#side-bar
                  .sidebar-header
                     ul.list-inline.list-unstyled#price-btns
                        li.btn.btn-defualt#eight-btn
                              span.h6 我要租
                              p.text-center.h4 8个月
                        li.btn.btn-defualt.active#twelve-btn
                           span.h6 我要租
                           p.text-center.h4 12个月
                  .sidebar-body
                     .row.row-space-4
                        .col-xs-12.text-center
                           label.radio-inline.inline-space-3
                              input(type='radio', name='optradio', checked='true')
                              | 带家具
                           label.radio-inline.inline-space-3
                              if hasFurniture
                                 input(type='radio', name='optradio' disabled)
                                 | 不带家具
                              else
                                 input(type='radio', name='optradio')
                                 | 不带家具
                     .row
                        .col-xs-12.text-center
                           span.h4.price-span-top $
                           span.h1.hidden#eight-price #{price.eight}
                           span.h1#twelve-price #{price.twelve}
                           span.h4.price-span-top CAD
                           p.h6 每月
                     .row.row-space-4
                        .col-xs-12.text-center
                           btn.btn.btn-danger.btn-lg.disabled 马上订房
                     .row.row-space-4
                        .col-xs-12.text-center
                           p.h2 浏览: #{viewer} 人/次
                     .row.row-space-4
                        .col-xs-12.text-center
                           btn.btn.btn-success.btn-lg.disabled 加入心愿清单
block extraScript
   script( src='/javascripts/karapax_listing.js' )